
*.~1~
*.~2~
*.~3~
__history/*.*
__recovery/*.*
Win32/*.*
Win32/Release/*.*
Win32/Debug/*.*
compiled/crmg2022.exe
compiled/update/*.*
.gitignore.bak
compiled/crmg2022 - Copia.exe
compiled/dados.db
updates/update.htm.bak
